

{% extends 'core/author/base.html' %}

{% load i18n %}

{% block filename %}
  /Users/luanfonsecadefarias/PyBR2013/pybr/core/templates/core/author/author_confirm_delete.html
{% endblock %}

{% block title %}
  {% trans "Author Confirm Delete" %}
{% endblock %}

{% block header-link %}
  <a href='{% url "core_author_delete" pk=object.pk %}'>
    {% trans "Author Confirm Delete" %}
  </a>
{% endblock %}

{% block header-description %}
  {% trans "A view that displays a confirmation page (on GET) and deletes an existing object (on POST)." %}
{% endblock %}

{% block content %}
  <h2>
    {% trans "Delete this Author?" %}
  </h2>
  <br />
  {% include 'core/author/object_table_detail.html' %}
  <form action='' charset='utf-8' method='post'>
    <fieldset>
      {% csrf_token %}
      <div class='form-actions'>
        <button class='btn btn-danger' type='submit'>
          {% trans "Delete" %}
        </button>
      </div>
    </fieldset>
  </form>
{% endblock %}
