

{% extends 'core/publishinghouse/base.html' %}

{% load i18n %}

{% block filename %}
  /Users/luanfonsecadefarias/PyBR2013/pybr/core/templates/core/publishinghouse/publishinghouse_detail.html
{% endblock %}

{% block title %}
  {% trans "PublishingHouse Detail" %}
{% endblock %}


{% block breadcrumbs %}
  <ul class='breadcrumb'>
    <li>
      <a href='{% url "core_publishinghouse_archive_index" %}'>
        {% trans "Archive Index" %}
      </a>
      <span class='divider'>
        /
      </span>
    </li>
    <li>
      <a href='{% url "core_publishinghouse_year_archive" year=object.created_at.year %}'>
        {% trans "Year Archive" %}
      </a>
      <span class='divider'>
        /
      </span>
    </li>
    <li>
      <a href='{% url "core_publishinghouse_month_archive" year=object.created_at.year month=object.created_at.month %}'>
        {% trans "Month Archive" %}
      </a>
      <span class='divider'>
        /
      </span>
    </li>
    <li>
      <a href='{% url "core_publishinghouse_day_archive" year=object.created_at.year month=object.created_at.month day=object.created_at.day %}'>
        {% trans "Day Archive" %}
      </a>
      <span class='divider'>
        /
      </span>
    </li>
    <li>
      <a href='{% url "core_publishinghouse_date_detail" year=object.created_at.year month=object.created_at.month day=object.created_at.day pk=object.pk %}'>
        {% trans "Date Detail" %}
      </a>
    </li>
  </ul>
{% endblock %}


{% block header-link %}
  <a href='{{ object.get_absolute_url }}'>
    {% trans "PublishingHouse Detail" %}
  </a>
{% endblock %}

{% block header-description %}
  {% trans "A page representing an individual object." %}
{% endblock %}

{% block content %}
  {% include 'core/publishinghouse/object_table_detail.html' %}
  <form action='{% url "core_publishinghouse_delete" pk=object.pk %}' charset='utf-8' method='post'>
    <fieldset>
      {% csrf_token %}
      <div class='form-actions'>
        <a class='btn btn-success' href='{% url "core_publishinghouse_update" pk=object.pk %}'>
          {% trans "Update" %}
        </a>
        <button class='btn btn-danger' type='submit'>
          {% trans "Delete" %}
        </button>
      </div>
    </fieldset>
  </form>
{% endblock %}
