

{% extends 'core/book/base.html' %}

{% load i18n %}

{% block filename %}
  /Users/luanfonsecadefarias/PyBR2013/pybr/core/templates/core/book/book_archive_day.html
{% endblock %}
{% block title %}
  {% trans "Book Day Archive" %}
{% endblock %}
{% block breadcrumbs %}
  <ul class='breadcrumb'>
    <li>
      <a href='{% url "core_book_archive_index" %}'>
        {% trans "Archive Index" %}
      </a>
      <span class='divider'>
        /
      </span>
    </li>
    <li>
      <a href='{% url "core_book_year_archive" year=day.year %}'>
        {% trans "Year Archive" %}
      </a>
      <span class='divider'>
        /
      </span>
    </li>
    <li>
      <a href='{% url "core_book_month_archive" year=day.year month=day.month %}'>
        {% trans "Month Archive" %}
      </a>
      <span class='divider'>
        /
      </span>
    </li>
    <li>
      <a href='{% url "core_book_day_archive" year=day.year month=day.month day=day.day %}'>
        {% trans "Day Archive" %}
      </a>
    </li>
  </ul>
{% endblock %}
{% block header-link %}
  <a href='{% url "core_book_day_archive" year=day.year month=day.month day=day.day %}'>
    {% trans "Book Day Archive" %}
  </a>
{% endblock %}
{% block header-description %}
  {% trans "A day archive page showing all objects in a given day." {%
{% endblock %}
{% block content %}
  <h2>
    {% blocktrans %}
      Books created on {{ day }}
    {% endblocktrans %}
  </h2>
  {% include 'core/book/object_table_list.html' %}
  {% include 'core/book/pagination.html' %}
{% endblock %}
